@import url('https://fonts.googleapis.com/css?family=Anton|Bellota|Josefin+Sans&display=swap');

/* font-family: 'Bellota', cursive;
font-family: 'Anton', sans-serif;
font-family: 'Josefin Sans', sans-serif; */
* {
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}
header {
    min-width: 320;
    text-align: center;
    padding: .5em;
    height: 1.5em;
    background-color: rgb(104, 104, 104);
    font-family: 'Bellota', cursive;
}

header h1 {
    font-size: 1.5em;
}

main {
display: flex;
flex-direction: column;
}

#searchDiv {
    padding: .5em;
    min-width: 320px;
    max-width: 100%;
    background-color: rgba(168, 168, 168, .3);
    text-align: center;
}

#searchDiv input {
    width: 200px;
    height: 2em;
    background-color: transparent;
    border-style: none;
    border-bottom: olive 2px solid;
}

#button {
    display: inline;
    padding: 5px;
    background-color: rgb(83, 56, 56);
    border-radius: 5px;
    color: rgb(228, 228, 228);
}

#history {
    display: none;
}

#searchDiv:hover #history, #searchDiv:focus #history {
    display: block;
}

.historyDiv {
    width: 200px;
    height: 1em;
    padding: 2px;
    margin: 0 auto;
    margin-top: 5px;
    background-color: rgb(71, 71, 71);
    border-radius: 1em;
    color: white;

}

#dashboard {
min-width: 320px;
display: flex;
flex-direction: column;
}

#main {
    text-align: center;
    min-width: 320;
    background-color: rgba(168, 168, 168, .1);
    padding: 15px;
}

#main img {
    display: inline-block;
    width: 50px;
}


#main p {
    font-family: 'Bellota', cursive;
    font-weight: bolder;
    margin: 5px;
}

#innerMain {
    margin: 0 auto;
    padding: 3px;
    max-width: 70%;
    min-width: 414;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgb(61, 61, 61),
            inset 0px 5px 10px rgb(61, 61, 61),
                0px -5px 10px rgb(221, 221, 221),
            inset 0px -5px 10px rgb(221, 221, 221);
            background-color: rgba(168, 168, 168, 1);

        }
#cards {
min-width: 320;
background-color: rgba(168, 168, 168, .1);
display: flex;
float: row;
flex-wrap: wrap;
justify-content: center;
padding-bottom: 20px;
}

.card {
min-width: 200px;
width: 18%;
height: 80%;
background-color: rgb(61, 61, 61);
color: white;
margin: 0 auto;
margin-top: 15px;
border-radius: 5px;
padding: 10px;
text-align: center;
}

.card p {
    margin: 5px;
}

#background {
    background-image: url(./ballos.jpg);
    background-size: cover;
}

.yellow p {
    background-color: yellow;
}

.green p {
    background-color: green;
}

.red p {
    background-color: red;
    color: white;
}